@font-face {
    font-family: 'bpreplay';
    font-weight: normal;
    font-style: normal;
    src: url('BPreplay-webfont.eot');
    src: local('☺'), url('BPreplay-webfont.woff') format('woff'), url('BPreplay-webfont.ttf') format('truetype'), url('BPreplay-webfont.svg#webfontgzJ8Cr4g') format('svg');
}

@import "http://fonts.googleapis.com/css?family=Lato";



body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: rgb(253, 255, 252);
    line-height: 1.3;
    background-size: 100% 100%;
    overflow: hidden;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#bgrnd {
    position: fixed;
    top: -40px;
    bottom: -40px;
    right: -40px;
    left: -40px;
    background-size: cover;
    background-position: center;
    z-index: -3;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.audiojs {
    float: left;
}

#list:hover {
    cursor: pointer;
}

#list {
    position: absolute;
    margin-top: -2%;
    margin-left: 94%;
    display: none;
}

#album-mini {
    display: none;
    width: 110px;
    height: 110px;
    float: left;
}

#input {
    width: 98%;
}

.name_notfloat {
    border-bottom: none;
}

.name {
    border-bottom: none;
}

.name_div_notfloat {
    font-size: 20px;
    margin-left: 1%;
    color: #bbc1ba;
    font-family: 'Lato', sans-serif, '300italic';
}

.name_div {
    font-size: 30px;
    margin-left: 1%;
    color: white;
    font-family: 'Lato', sans-serif, 700;
}

#mini-panel {
    width: 98%;
    position: absolute;
    margin-top: 35.5%;
    margin-left: -50%;
}

.info_panel {
    margin-top: 0.5%;
    margin-left: 0.6%;
    width: 700px;
    float: left;
}

#line-panel {
    position: absolute;
    margin-top: 42%;
    width: 98%;
}

.outer {
    width: 90%;
    position: absolute;
    margin-top: 11%;
    margin-left: 30%
}

.outer > #panel {
    display: flex;
    position: fixed;
    width: auto;
    height: 170px;
    font-size: 32px
}

.column {
    flex-direction: column;
    float: right;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 15px;
    white-space: nowrap
}

#cover {
    width: 240px;
    height: 240px;
    background-image: url(http://upload.wikimedia.org/wikipedia/en/c/ce/Riseagainstendgame.jpg);
    background-size: 100%;
    flex-direction: column
}

#track {
    font-size: 54px;
    font-weight: 700;
    padding: 0 0 0 7px;
    color: white;
    font-family: 'Lato', sans-serif, '300italic';
}

#album {
    padding-top: -2px;
    padding-bottom: 2px;
    padding-left: 7px;
    color: #bbc1ba;
    font-family: 'Lato', sans-serif, '300italic';
}

#artist {
    padding: 2px 2px 0 7px;
    margin-top: -2px;
    color: #bbc1ba;
    font-family: 'Lato', sans-serif, '300italic';
}

#line-track {
    width: 200px;
    height: 3px;
    background: white;
}

#line-artist {
    width: 200px;
    height: 1px;
    background: #bbc1ba;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}










p {
    background-color: #404040;
    clear: both;
}

.audiojs {
    position: fixed;
    z-index: 1031;
    bottom: 0px;
    left: 0;
    overflow: hidden;
    width: 104%;
    height: 40px;
    background: #4448BD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
    background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.audiojs .play-pause {
    background: #4448BD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
    background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
    width: 2%;
    height: 40px;
    padding: 10px 0px 25px 3px;
}

.audiojs p {
    background-color: #4448BD;
    width: 40px;
    height: 40px;
    margin: -3px 0px 0px -1px;
}

.audiojs .scrubber {
    background: #4d4444;
    width: 95%;
    height: 40px;
    top: -5px;
    left: -5px;
    margin: 5px;
}

.audiojs .progress {
    height: 40px;
    width: 0px;
    background: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
    background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%);
}

.audiojs .loaded {
    height: 50%;
    opacity: 0.1;
    width: 0px;
    background: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
    background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);
}

.audiojs .time {
    background: #4448BD;
    background-color: #4448BD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
    background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
    height: 40px;
    width: 0px;
    margin: 1000px;
    line-height: 25px;
}

.audiojs .error-message {
    height: 24px;
    line-height: 24px;
}

